.expenses-list {
  list-style: none;
  padding: 0;
}

.expenses-list li {
  flex: auto;
}

.expenses-list__fallback {
  color: white;
  text-align: center;
}

.expenses-list_item-container {
  display: flex;
}
